#ques 1
"""
ordinal encoding : in ordinal encoding we assign no. either in increasing order or in decreasing order on behalf on the category's internal order.
example: good ,better , best can we assign as good=1,better=2,best=3

label encoding  : we prefer the lable encoding in case of the categorical data's unique value does not have internal order.
for example: female,male in this female ans male doen't have any order.
female=0,male=1 or male=0,female=1
"""

#ques2

"""
It is a technique used to encode categorical variable based on their relationship with the target variable. 
This encoding technique is useful when no. of unique categories is large and we want to use this variable as a feature in the machine learning.

In target guided ordinal encoding technique, we replace each category in categorical column with the numerical values based on the mean or median values of the target value of that category.

example: 'city': ['New York', 'London', 'Paris', 'Tokyo', 'New York', 'Paris']
         'price': [200, 150, 300, 250, 180, 320]
         {'London': 150.0, 'New York': 190.0, 'Paris': 310.0, 'Tokyo': 250.0}
"""

#ques3
"""
Covariance in statistics measures the extent to which two variables vary linearly.
The covariance formula reveals whether two variables move in the same or opposite directions.

"""

In [8]:
#ques4
import pandas as pd
data = {'Color':['red','green','blue'],'Size':['small','medium','large'],'Material':['wood','metal','plastic']}

df = pd.DataFrame(data)

In [9]:
df.head(5)

   Color    Size Material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [10]:
#encoding
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder

O_encoder = OrdinalEncoder()
L_encoder = LabelEncoder()

#using ordinal because Size have internal ordering
df['encoded_sizze']=O_encoder.fit_transform(df[['Size']])

In [11]:
df[['color_encoded','material_encoded']]= df[['Color','Material']].apply(L_encoder.fit_transform)

In [12]:
df.head()

   Color    Size Material  encoded_sizze  color_encoded  material_encoded
0    red   small     wood            2.0              2                 2
1  green  medium    metal            1.0              1                 0
2   blue   large  plastic            0.0              0                 1

In [14]:
#ques5

import seaborn as sns

data = sns.load_dataset('iris')

In [17]:
#covariance matrix of numerical values
"""
It shows the relationship of variability between each other
negative corelation means the feature move in opposite direction if positive means move(increase or decrease ) in same direction. 
"""
data.iloc[:,:-1].cov()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      0.685694    -0.042434      1.274315     0.516271
sepal_width      -0.042434     0.189979     -0.329656    -0.121639
petal_length      1.274315    -0.329656      3.116278     1.295609
petal_width       0.516271    -0.121639      1.295609     0.581006

#ques 6

"""
for 'Gender' (female and male) and 'Employment status'(unemployed/part-time/full-time) i'll use label encoding.

for "Education level"(High school, Bachelar's/master's/ PHD) i'll use the Ordinal encoding because the level of Education have internal ordering itself.
"""

In [ ]:
#ques7